.ToDoList {
  display: flex;
  flex-direction: column;
  max-width: 65%;
  height: 58vh;
  box-sizing: border-box;
  margin: 50px auto 0 auto;
  padding: 0 20px 0 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Title {
  color: #1b262c;
  border-bottom: 5px solid #1b262c;
}

.TaskBlock {
  display: flex;
  flex-direction: column;
  height: 55%;
  overflow-y: auto;
  margin-top: 15px;
}

.Task {
  display: inline-flex;
  align-items: baseline;
  margin-top: 7px;
}

input[type="checkbox"] {
  margin-right: 20px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="text"] {
  font-size: 11pt;
  border: none;
  padding: 5px;
}
input[type="text"]:hover {
  cursor: pointer;
}

.AddTask {
  color: #1b262c;
  all: unset;
  text-align: center;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 40px;
  background-color: #bbe1fae3;
}
.AddTask:hover {
  cursor: pointer;
  background-color: #add9f6;
}
